{% extends 'base.html' %}

{% block title %} {{ event.name }} Dashboard{% endblock %}

{% block container %}

    <h1>{{ event.name }} Dashboard</h1>

    <div class="row">
        <div class="col-lg-12">
            <a href="{% url "event_edit" event.pk  %}" class="btn btn-lg btn-default">Edit Event</a>
            <a href="{% url "ticketsales_home" event.pk  %}" class="btn btn-lg btn-default">View Tickets</a>
            <a href="{% url "invites_home" event.pk  %}" class="btn btn-lg btn-default">View Invitations</a>
            <a href="{% url "hosts_home" event.pk  %}" class="btn btn-lg btn-default">Edit Hosts</a>
            <a href="{% url "check_in" event.pk  %}" class="btn btn-lg btn-default">Check In Guests</a>
        </div>
    </div>

{% endblock %}