{% extends 'base.html' %}

{% load static %}

{% block title %} {{ event.name }}'s Hosts{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap/typeahead.css" %}">
{% endblock %}

{% block content %}

    <h1>Manage Hosts</h1>

    <ul class="nav nav-pills nav-stacked" style="margin-bottom: 15px;">
    {% for host in event.owner.all %}
        <li class="host {% if host == user %}active{% endif %}"><a href="#">
            {% if host.first_name %}{{ host.first_name }} {{ host.last_name }}{% else %}{{ host.username }}{% endif %}
            {% if host != user %}<span class="label label-danger" data-host="{{ host.pk }}">(remove)</span>{% endif %}
        </a></li>
    {% endfor %}

    </ul>

    <div class="well well-lg">
        <div class="input-group">
            <input type="text" class="form-control host search typeahead" placeholder="Add a friend!">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Add!</button>
            </span>
        </div><!-- /input-group -->
    </div>

{% endblock %}
{% block extra_js %}
<script src="{% static "js/vendor/bootstrap/hogan.js" %}"></script>
<script src="{% static "js/vendor/bootstrap/typeahead.min.js" %}"></script>
<script>
$(document).ready(function (){
    $('.host .label-danger').click(function (){

        var element = $(this)

        $.post( "{% url "hosts_home" event.pk %}",{host: $(this).data('host'), action:'remove_host'}, function( data ) {
            data = $.parseJSON(data);
            if (data['success']){
                element.closest('li').remove();
            }else{

            }
        });
    });
    $('.host.search.typeahead').typeahead([{
        name: 'best-picture-winners',
        remote: '{% url 'host_search' %}?q=%QUERY',
        template: '<p><strong>{{name}}</strong></p>',
        engine: Hogan
    }]);

    $()
});
</script>
{% endblock %}